* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #146DF1;
    height: 117,8px;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

.posicionamento-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    display: inline-block;
    padding: 10px;
    justify-content: space-between; 
    text-decoration: none;
    color: white;
}

.barras {
    width: 50px;
    display: none;
}

.login {
    display: flex;
    height: 935.65px;
    background-color: #14F152;
    background-size: cover;
}

.tela-login {
    display: flex;
    position: center;
    width: 724px;
    height: 621px;
    background-image: url(../img/backgroundlogin.png);
    margin-top: 138.65px;
    flex-direction: column;
}

.texto-login {
    position: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
    color: red;
}

.email-senha {
    color: red;
    position: center;
    margin-left: 250px;
    margin-top: 120px;
}

.boton {
    position: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.boton button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 30%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
.boton button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

@media screen and (max-width: 1200px){
    .container-grid {
        width: 80%;
    }
    .tela-login {
        width: 600px;
        margin-left: 100px;
    }
    .texto-login {
        margin-right: 0px;
    }
    .email-senha {
        margin-left: 200px;
    }
}
@media screen and (max-width: 768px){
    .container-grid {
        width: 80%;
    }
    .barras{
        display:inline-flex;
    }
    .menu {
        display: none;
        flex-direction: column;
        width: 100px;
        background-color: green;
        position: absolute;
        top: 0;
        right: 86px;
    }
    .tela-login {
        width: 200px;
    }
    .email-senha {
        color: black;
        margin-left: 50px;
    }
    .email-senha input {
        width: 100px;
    }
    .boton button {
        padding: 9px;
    }
}
@media screen and (max-width:320px){
    .tela-login {
        margin-left: 65px;
    }
}